In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [30]:
titanic_df = pd.read_csv('https://github.com/datasciencedojo/datasets/raw/master/titanic.csv')

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.nunique()

In [ ]:
titanic_df.head()

In [31]:
titanic_df = titanic_df.drop(['Ticket','Fare','Cabin','Embarked'],1).set_index('PassengerId')

C:\Users\Ne\AppData\Local\Temp/ipykernel_26932/2941491355.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  titanic_df = titanic_df.drop(['Ticket','Fare','Cabin','Embarked'],1).set_index('PassengerId')

In [32]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 55.7+ KB

In [33]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch
count  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594
std      0.486592    0.836071   14.526497    1.102743    0.806057
min      0.000000    1.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000
50%      0.000000    3.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000   38.000000    1.000000    0.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000

In [36]:
titanic_df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [10]:
titanic_df[['Survived','Pclass','Sex']] = titanic_df[['Survived','Pclass','Sex']].astype('category')

In [11]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())

In [12]:
titanic_df.groupby(['Pclass','Sex']).mean()

                     Age     SibSp     Parch
Pclass Sex
1      female  34.141405  0.553191  0.457447
       male    39.287717  0.311475  0.278689
2      female  28.748661  0.486842  0.605263
       male    30.653908  0.342593  0.222222
3      female  24.068493  0.895833  0.798611
       male    27.372153  0.498559  0.224784

In [13]:
x = titanic_df[['Pclass','Sex','Age','SibSp','Parch']]
x['Sex'] = x['Sex'].replace(['male','female'],[0,1]).astype('category')

C:\Users\Ne\AppData\Local\Temp/ipykernel_26932/936839375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex'] = x['Sex'].replace(['male','female'],[0,1]).astype('category')

In [14]:
y = titanic_df['Survived']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state=5,stratify=y)

In [16]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 5)
gnb = GaussianNB()
glm = LogisticRegression()
svc = SVC()
tree = DecisionTreeClassifier()

In [17]:
models = [knn,gnb,glm,svc,tree]

In [18]:
y_pred = pd.DataFrame(y_test)
i=0
for model in models:
    model.fit(x_train,y_train)
    y_pred[i] = model.predict(x_test)
    i = i+1

In [19]:
y_pred

            Survived  0  1  2  3  4
PassengerId
206                0  1  1  1  1  1
569                0  0  0  0  0  0
530                0  1  0  0  0  1
335                1  1  1  1  0  1
753                0  0  0  0  0  0
...              ... .. .. .. .. ..
822                1  1  0  0  0  1
797                1  1  1  1  0  1
180                0  0  0  0  0  0
77                 0  0  0  0  0  0
159                0  0  0  0  0  0

[179 rows x 6 columns]

In [20]:
accuracy = []
for i in range(0,5):
    accuracy.append(accuracy_score(y_test,y_pred[i]))

array([1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0], dtype=int64)

In [24]:
pd.DataFrame(accuracy,models)

                                 0
KNeighborsClassifier()    0.804469
GaussianNB()              0.793296
LogisticRegression()      0.776536
SVC()                     0.620112
DecisionTreeClassifier()  0.810056